* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
a {
    text-decoration: none;
}
.hero {
    width: 100%;
    height: 100vh;
    min-height: 638px;
    background: url(/lewisuzoma.github.io/assets/images/bg.jpg) center center;
    background-size: cover;
    position: relative;
    padding: 0;
}
/* .hero:before {
    content: "";
    background: rgba(56, 64, 70, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
} */
.button-container a{
    width: 500px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    display: block !important;
    text-align: center !important;
    transition: 0.3s;
    
}
.button-container a:hover{
    opacity: 0.8 !important;
    background-color: #3498db !important;
    color: #ffffff !important;
}
.icon {
    padding: 6px 8px !important;
    margin: 0 4px !important;
}

/* Theme */
.text-white {
    color: #fff !important;
}
.text-dark {
    color: #1f1e1e !important;
}
.font-bold {
    font-weight: bold !important;
}
.fs-12 {
    font-size: 12px !important;
}

.d-flex {
    display: flex !important;
}
.items-align-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.flex-column {
    flex-direction: column !important;
}
.flex-row {
    flex-direction: row !important;
}

.w-84 {
    width: 84px !important;
} 
.h-84 {
    height: 84px !important;
}

.no-shadow {
    box-shadow: none !important;
}
.rounded-md {
    border-radius: 50% !important;
}
.rounded-sm {
    border-radius: 25px !important;
}
.rounded-full {
    border-radius: 100% !important;
}

.btn {
    padding: 10px 25px !important;
}
.btn-primary {
    background-color: #3498db !important;
    color: #ffffff !important;
}
.btn-default {
    background-color: #dedede !important;
    color: #1f1e1e !important;
}

.text-center {
    text-align: center !important;
}

.my-4{
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}
.my-2{
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}
.py-4 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* Media query */
@media (min-width: 356px) and (max-width: 768px) {
    .button-container a {
        width: 250px !important;
    }
}